.registro__pesquisa{

    display: flex;
    max-width: 2560px;
    height: 140px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px -18px rgb(0 0 0 / 25%);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#container__um{

    width: 355px;
    height: 148px;
    display: flex;
    height: 69vh;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column-reverse;
    align-items: center;

}

.img__logo{

    position: absolute;
    height: 60px;
    left: 15px;
    top: 5px;

}

.pesquisa__produtos{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 18px 15px 40px;
    position: absolute;
    height: 45px;
    top: 75px;
    background: url(../svg/SearchIcon.svg) no-repeat center left 5px #E9ECEF;
    border: 1.5px solid #E9ECEF;
    box-sizing: border-box;
    border-radius: 12px;
    width: 280px;
    margin: 0px 5px 5px 105px;

}

#container__dois{

    width: 150px;
    height: 150px;

}

#btn__cadastro{

    width: 40px;
    height: 40px;
    top: 35px;
    border-radius: 128.571px;
    background: url(../svg/userIcon.svg) no-repeat center;
    cursor: pointer;
    border: none;
    transform: translateY(-50%);
    padding: 0;
    position: relative;
    left: 35px;

}

.modal__cadastro{

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal__cadastroDiv{

    width: 220px;
    height: 225px;
    border: 1px solid;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hidden{

    display: none;

}

.modal__cadastroForm{

    display: flex;
    flex-direction: column;

}

.modal__cadastroButton{

    margin-left: 194px;
}

.btn__carrinho{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4F7EF;
    height: 38px;
    width: 38px;
    border-radius: 50%;
}

.btn__carrinho:hover{
    cursor: pointer;
    border: 1px solid rgb(0, 112, 0);
}

.icone__carrinho{
    width: 15px;
}

.card__produto{
    display: flex;
    width: 300px;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    height: 397px;
    margin-right: 15px;
    margin-left: 5px;
}

.div__preco--produto{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.nome__produto{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
}

.descricao__produto, .categoria__produto{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #868E96;
}

.imagem__produto{
    border: 3px solid #FFE9EE;
    box-sizing: border-box;
    border-radius: 8px;
}

.preco__produto{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #212529;
}

.main__produtos{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.nav__botoes{
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;}

.button__filtro{
    width: 115px;
    height: 48px;
    background-color: #FFF7F4;
    border: 0;
    border-radius: 21px;
    margin-right: 8px;
}    

.button__filtro:hover{
    cursor: pointer;
    background-color: #FF2253;
    color: white;
    border-radius: 32px;
} 

/*--------------------------- CARRINHO ----------------------------*/

.section__carrinho{
    height: 5vh;
}
.section__carrinhoAbrir{
    background-color: #FF2253;
    width: 100vw;
    height: 8vh;
    border: none;
    border: 0px 10px 0px 10px;
    border: 0 10px 0 10px;
    border-radius: 0px 0px 6px 6px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 17.1px;
}
.section__carrinhoAbrir img{
    width: 5vw;
    padding-right: 10px;
}
.section__carrinhoModal{
    display: none;
}
.section__carrinhoModalDiv{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6f6d6dad;
}
.section__carrinhoDiv{
    width: 90vw;
    border: 1px solid;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    border: none;
    height: 90vh;
}
.section__carrinhoFechar{
    background-color: #FF2253;
    color: #F8F9FA;
    width: inherit;
    height: 7vh;
    border-radius: 9px 9px 0px 0px;
    border: none;
    display: flex;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding-right: 17px;
    padding-left: 40px;
    font-weight: 500;
    align-items: center;
}
.section__carrinhoFechar img{
    width: 3vh;
    padding-right: 15px;
}
.section__carrinhoFecharSpanNome{

}
.section__carrinhoFecharSpanFechar{
    padding-left: 125px;
}
.section__carrinhoUl{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 70vh;
}
.section__carrinhoLi{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    align-items: flex-start;
}
.section__carrinhoDivImg{

}
.section__carrinhoDivNomes{
    width: 55vw;
}
.section__carrinhoDivExcluir{
    
}
.section__carrinhoLiImg{
    width: 21vw;
    height: 10vh;
    border-radius: 15%;
    padding-right: 5px;
}
.section__carrinhoLiNome{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 11px;
    padding-bottom: 5px;
}
.section__carrinhoLiCategoria{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #868E96;

}
.section__carrinhoLiPreco{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding-top: 10px;
}
.section__carrinhoQuantidade{
    height: 4vh;
    padding-top: 15px;
    background-color: #F8F9FA;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: flex;
    width: 89vw;
    justify-content: space-between;
    font-size: 12px;
}
.section__carrinhoTotal{
    height: 7vh;
    background-color: #F8F9FA;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: flex;
    width: 89vw;
    border-radius: 0px 0px 9px 9px;
    justify-content: space-between;
    font-size: 12px;
}
.section__carrinhoExcluir{
    height: 3vh;
    border: none;
    background-color: transparent;
}
.section__carrinhoFecharImg{
    height: 2vh;
}
.section__carrinhoSpanTotal{
    padding-right: 15px;
}
.section__carrinhoSpanTotalNome{
    padding-left: 15px;
}
.section__carrinhoSpanQuantidadeNome{
    padding-left: 15px;
}
.section__carrinhoSpanQuantidade{
    padding-right: 15px;
}


/*--------------------------------------------MEDIA QUERYS-------------------------------------------*/

@media (min-width: 375px){

.pesquisa__produtos{
     width: 315px;
     margin: 0px 5px 5px 115px;  
}

#btn__cadastro{
    left: 40px;
}

/*---------------------------CARRINHO--------------------------*/
.section__carrinhoFecharSpanFechar {
    padding-left: 175px;
}

}


@media (min-width: 425px){

.pesquisa__produtos{
    width: 365px;
    margin: 0px 5px 5px 130px;  
}
#btn__cadastro{
    left: 55px;
}
/*---------------------------CARRINHO--------------------------*/
.section__carrinhoFecharSpanFechar {
    padding-left: 220px;
}

}

@media (min-width: 768px){

.registro__pesquisa{
height: 72px;
left: 0px;
top: 0px;
flex-direction: row-reverse;
justify-content: flex-start
}
#container__um{
 width: 50px;
height: 150px;
display: flex;
flex-direction: column-reverse;
align-items: center;
}

    #container__dois{

        width: 5px;
        height: 45px;
    
    }

    .img__logo{

        position: absolute;
        height: 60px;
        left: 22px;
        top: 5px;
    
    } 

    .pesquisa__produtos{

        position: absolute;
        width: 312px;
        height: 40px;
        left: 400px;
        top: 15px;
        margin: 0px;
    
    }

#btn__cadastro{
    top: 18px;
    left: 3px;
}

/*-------------CARRINHO-------------*/
.section__carrinhoAbrir{
    height: 8vh;
}
.section__carrinhoAbrir img{
    width: 2vw;
}
.section__carrinhoDiv{
    width: 50vw;
}
.section__carrinhoQuantidade{
    height: 5vh;
    padding-top: 17px;
    width: 50vw;
}
.section__carrinhoTotal{
    width: 50vw;
}
}

@media (min-width: 1024px){
.pesquisa__produtos{
    left: 650px;
}
/*----------VITRINE---------*/
.main__registro{
    display: flex;
    flex-direction: column;
}
.main__vitrine__produtos{
    width: 64vw;
}
.section__main__vitrine__produtos{
    width: 70vw;
}
.main__produtos{
    overflow: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}
.card__produto{
    width: 15vw;
    display: flex;
    justify-content: center;
    height: 41vh;
}
.imagem__produto{
    width: 19vw;
}
.card__produto p{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.card__produto h3{
   font-size: 14px;
   

}

/*----------CARRINHO---------*/

.section__carrinhoModal{
    
}
.section__carrinhoModalDiv{
    width: 27vw;
    position: fixed;
    top: 13%;
    right: 2%;
    height: 65vh;
    background-color: transparent;
}
.section__carrinhoAbrir{
    width: 25vw;
    left: 72%;
    top: 13%;
    position: fixed;
    height: 5vh;
    border-radius: 9px 9px 0px 0px;
    font-size: 17px;
    display: flex;
    align-items: center;
}
.section__carrinhoAbrir img{
    width: 3vw;
    height: 2vh;
}
.section__carrinhoDiv{
    width: 25vw;
    height: 64vh;
}
.section__carrinhoFecharSpanFechar{
    padding-left: 10px;
    color: #FF2253;
}
.section__carrinhoFechar{
    font-size: 17px;
    font-weight: bold;
}
.section__carrinhoFechar img{
    width: 2vw;
    height: 2vh;
    margin-left: -28px;
}
.section__carrinhoQuantidade{
    width: 25vw;
    font-size: 14px;
}
.section__carrinhoTotal{
    width: 25vw;
    font-size: 14px;
}
.section__carrinhoUl{
    width: 25vw;
}
.section__carrinhoLiImg{
    width: 8vw;
}
.section__carrinhoDivNome{
    width: 13vw;
}
.section__carrinhoLiNome{
    font-size: 14px;
}
.section__carrinhoLiCategoria{
    font-size: 12px;
}
.section__carrinhoLiPreco{
    font-size: 14px;
}

}

@media (min-width: 1440px){

    .pesquisa__produtos{

        left: 1070px;

    }

}

@media (min-width: 1600px){

    .pesquisa__produtos{

        left: 1230px;

    }


}

@media (min-width: 2560px){

    .pesquisa__produtos{

        left: 2180px;

    }


}
/*------------------------------------------------------------------------------*/
